/* Fonts */
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Book"), local("BebasNeueBook"), url("../fonts/Bebas_Neue/bebasneuebook.woff2") format("woff2"), url("../fonts/Bebas_Neue/bebasneuebook.woff") format("woff"), url("../fonts/Bebas_Neue/bebasneuebook.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Regular"), local("BebasNeueRegular"), url("../fonts/Bebas_Neue/bebasneueregular.woff2") format("woff2"), url("../fonts/Bebas_Neue/bebasneueregular.woff") format("woff"), url("../fonts/Bebas_Neue/bebasneueregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Bold"), local("BebasNeueBold"), url("../fonts/Bebas_Neue/bebasneuebold.woff2") format("woff2"), url("../fonts/Bebas_Neue/bebasneuebold.woff") format("woff"), url("../fonts/Bebas_Neue/bebasneuebold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Barkentina";
  src: url("../fonts/Barkentina/subset-Barkentina.woff2") format("woff2"), url("../fonts/Barkentina/subset-Barkentina.woff") format("woff"), url("../fonts/Barkentina/subset-Barkentina.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Base */
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-orient: vertical;
}

body {
  margin: 0;
  font-family: "Bebas Neue", Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: #ffffff;
  background-color: #363636;
}

::-moz-selection {
  background: #c8ac5c;
}

::selection {
  background: #363636;
}

b,
strong {
  font-weight: bolder;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 2px;
  overflow: visible;
  border-width: 0;
}

img,
svg {
  vertical-align: middle;
}

img {
  border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
  margin: 0;
  text-transform: uppercase;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  padding-right: 55px;
  padding-left: 55px;
  margin: 0 auto;
  max-width: 1635px;
}

.gold-text {
  color: #c8ac5c;
}

/* Header */
.header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header__inner {
  padding: 170px 0 57px;
  text-align: center;
}

.header__subtitle {
  font-size: 24px;
  font-weight: 700;
  margin: 0 auto;
  width: 261px;
  line-height: 1;
}

.developer-slogan {
  margin: 38px 0 18px;
  width: 100% !important;
}

.header__title {
  font-size: 204px;
  line-height: 1.19;
  font-weight: 400;
}

.header__advantage {
  background-color: #393939;
}

.header__advantage-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  max-width: 1111px;
  margin: 0 auto;
  overflow: hidden;
}

.header__advantage-item {
  padding: 44px 64px;
  margin: 10px 0;
  position: relative;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.header__advantage-item:first-child {
  margin-left: 0;
}

.header__advantage-item:last-child {
  margin-right: 0;
}

.header__advantage-icon {
  font-weight: 300;
  font-size: 72px;
  letter-spacing: 0.04em;
  height: 72px;
  color: #c8ac5c;
  display: block;
  margin-bottom: 7px;
  pointer-events: none;
}

.header__advantage-text {
  font: 400 16px/1.25 "Barkentina", Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #9a9a9a;
  pointer-events: none;
}

.header__advantage-circle {
  position: absolute;
  height: 240px;
  width: 240px;
  z-index: 9;
  pointer-events: none;
  background-color: transparent;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.16s ease-in-out;
  transition: -webkit-transform 0.16s ease-in-out;
  -o-transition: transform 0.16s ease-in-out;
  transition: transform 0.16s ease-in-out;
  transition: transform 0.16s ease-in-out, -webkit-transform 0.16s ease-in-out;
  contain: layout style size;
  will-change: transform;
}

.header__advantage-bg {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 300%;
}

/* Aim */
.aim {
  padding: 55px 0 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.aim__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.aim__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 43%;
      -ms-flex: 0 1 43%;
          flex: 0 1 43%;
  margin-right: 7%;
  position: relative;
}

.aim__item:nth-child(even) {
  margin: 0 0 0 7%;
}

.aim__item:nth-child(even)::after {
  top: auto;
  left: auto;
  bottom: -302px;
  right: -72%;
}

.aim__item::after {
  content: "";
  position: absolute;
  left: -54%;
  top: -55px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../img/circle.svg);
  background-repeat: no-repeat;
}

.aim__item:hover .parallax-img {
  -webkit-transform: scale(1.4) !important;
      -ms-transform: scale(1.4) !important;
          transform: scale(1.4) !important;
}

.aim__item:hover .aim__item-text {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.aim__item-img {
  max-height: 390px;
  overflow: hidden;
}

.aim__item-img .simpleParallax {
  padding: 40px;
}

.aim__item-img img {
  max-width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  -o-transition: transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.aim__item-text {
  margin-left: 45px;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  -o-transition: transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.aim__item-text hr {
  background-color: #c8ac5c;
  margin: 30px 0 22px;
  width: 146px;
  text-align: left;
}

.aim__item-title {
  font-size: 64px;
  line-height: 1;
  color: #797979;
  margin-top: 17px;
}

.aim__item-descr {
  font-family: "Barkentina", Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 24px;
  line-height: 1.5;
  color: #9a9a9a;
}

/* About */
.about {
  padding: 400px 0 40px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
}

.about .container {
  padding-right: 35px;
  padding-left: 35px;
}

.about__inner {
  overflow: visible !important;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.about__item:nth-child(even) {
  padding-top: 30px;
}

.about__item:last-child {
  margin-right: 0 !important;
}

.about__item-title {
  font-size: 24px;
  color: #797979;
  max-width: 500px;
  margin-bottom: 20px;
}

.about__item-title span {
  color: #ffffff;
  padding-right: 2px;
}

.about__item-img {
  width: 100%;
  height: auto;
}

.about-progress {
  position: relative !important;
  width: 100%;
  margin: 80px 0 10px;
  padding-bottom: 21px;
}

.about-progress__line {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.25);
}

.about-progress__line span {
  background: #ffffff !important;
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.about-progress__line::after {
  background: url(../img/progress-dots.png) repeat-x 0;
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  left: 100%;
  bottom: 0;
  content: "";
}

.about-progress__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.about-progress__list span {
  font-size: 24px;
  font-weight: 400;
  background: none;
  color: #ffffff;
  height: auto;
  width: auto;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}

.about-progress__list span:after {
  content: "";
  position: absolute;
  display: block;
  height: 10px;
  width: 1px;
  background: rgba(255, 255, 255, 0.9);
  bottom: -26px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* Quote */
.quote {
  color: #9a9a9a;
  font-weight: 700;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.quote__inner {
  padding: 68px;
}

.quote__text {
  margin: 0 0 0 auto;
  width: 270px;
}

.quote__word {
  display: inline-block;
  font-size: 72px;
  line-height: 1;
}

.quote__word:nth-child(1) {
  font-size: 60px;
}

.quote__word:nth-child(2) {
  font-size: 36px;
}

.quote__word:nth-child(3) {
  font-size: 20px;
}

.quote__word:nth-child(4) {
  font-size: 50px;
}

.quote__word:nth-child(5) {
  font-size: 36px;
}

.quote__word:nth-child(6) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.quote__word:nth-child(6) span {
  padding-left: 10px;
  font-size: 26px;
}

/* Infografic */
.infografic {
  overflow: hidden;
  padding-top: 30px;
}

.infografic__title {
  display: inline-block;
}

.infografic__title-small {
  font-size: 48px;
}

.infografic__title-big {
  font-size: 72px;
}

.infografic__content {
  margin-bottom: 115px;
  overflow: hidden;
}

.infografic__content-top {
  margin-bottom: 140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

.infografic__content-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 30%;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.infografic__content-text p {
  font-size: 14px;
  line-height: 1.2;
  font-family: "Barkentina", Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #9a9a9a;
}

.infografic__content-title {
  font-size: 36px;
  color: #797979;
  margin-bottom: 20px;
}

.infografic__content-title::before {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  margin-bottom: 18px;
  background-image: url(../img/load.png);
  background-repeat: no-repeat;
}

.infografic__content-img {
  padding-right: 34px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 70%;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.infografic__content-img img {
  width: 100%;
  height: auto;
}

.infografic__img-2 {
  position: absolute;
  top: 66%;
  right: -31px;
  width: 60%;
  height: auto;
  padding: 20px;
}

.infografic__img-3 {
  position: absolute;
  bottom: -70%;
  right: 30%;
  width: 25%;
  height: auto;
  z-index: -1;
}

.infografic__item-title {
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Barkentina", Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 20px;
}

.infografic__content-bottom {
  width: 80%;
}

.infografic__item-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.infografic__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 33.33333%;
      -ms-flex: 1 1 33.33333%;
          flex: 1 1 33.33333%;
  padding-bottom: 40px;
}

.infografic__item--special {
  display: block;
  margin-left: 155px;
  padding-bottom: 0;
}

.infografic__item:nth-child(4) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding-bottom: 0;
}

.infografic__item span {
  color: #797979;
  font-weight: 600;
  font-size: 20px;
}

.infografic__item .gold-text {
  font-size: 50px;
}

/* Map */
.map__title {
  display: inline-block;
  position: absolute;
}

.map__title-big {
  font-size: 100px;
}

.map__title-small {
  font-size: 50px;
}

.map-interactive {
  position: relative;
}

.map-interactive path {
  fill: #777;
  stroke: #393939;
  cursor: pointer;
  stroke-width: 1;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.map-interactive path:hover {
  fill: #c8ac5c;
}

/* Integration */
.integration {
  overflow: hidden;
}

.integration__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  padding: 40px 0 40px;
}

.integration__img {
  width: 50%;
  position: relative;
}

.integration__img .simpleParallax {
  padding: 74px;
  overflow: visible !important;
}

.integration__img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/circle-bear.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: -40px;
  left: -10%;
  z-index: -1;
}

.integration__img img {
  width: auto;
  height: 365px;
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  -o-transition: transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
}

.integration__img-last {
  position: absolute;
  width: 50%;
  right: 111px;
  top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.integration__img-last img {
  width: 100%;
  height: auto;
}

.integration__text {
  margin-left: 25px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  color: #797979;
  font-size: 24px;
  font-family: "Barkentina", Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.integration__circle {
  padding: 0 0 100px 150px;
}

.integration__circle-title {
  font-size: 72px;
  font-weight: 700;
  padding-bottom: 40px;
}

.integration__circle-items {
  position: relative;
  display: inline-block;
}

.integration-circle-bg {
  display: inline-block;
}

.integration-circle-bg img {
  max-width: 100%;
  height: auto;
}

.integration__circle-item {
  position: absolute;
}

.integration__circle-item img {
  width: auto;
  max-height: 220px;
}

.integration__circle-item:nth-child(1) {
  top: 0;
  left: -50px;
}

.integration__circle-item:nth-child(2) {
  bottom: 0;
  left: -50px;
}

.integration__circle-item:nth-child(3) {
  bottom: -75px;
  left: 40%;
}

.integration__circle-item:nth-child(4) {
  right: 100px;
  top: -40px;
}

.integration__circle-item:nth-child(5) {
  right: -63px;
  top: 45%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #363636;
  border-radius: 50px;
}

/* responsive */
@media screen and (max-width: 992px) {
  .integration__img-last {
    right: 0;
  }
  .integration__img img {
    width: 100%;
    height: auto;
  }
  .integration__circle {
    padding-left: 0;
  }
  .integration__text {
    margin-left: 0;
  }
  .infografic__title {
    padding-bottom: 20px;
  }
  .infografic__title-small,
  .map__title-small {
    font-size: 30px;
  }
  .infografic__title-big,
  .map__title-big {
    font-size: 50px;
  }
  .quote__inner {
    padding: 48px 25px;
  }
  .about {
    padding: 200px 0 40px;
  }
  .about-progress {
    margin: 10px 0 10px;
  }
  .aim__item {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    padding-bottom: 20px;
  }
  .aim__item .aim__item-img {
    margin-left: -55px;
  }
  .aim__item:nth-child(even)::after {
    bottom: 50%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
  }
  .aim__item:nth-child(even) .aim__item-img {
    margin-left: 0;
    margin-right: -55px;
  }
  .aim__item-img {
    max-height: 190px;
  }
  .aim__item-title {
    font-size: 44px;
  }
  .aim__item-descr {
    font-size: 18px;
  }
  .aim__item-text hr {
    margin: 9px 0;
  }
  .infografic__content {
    overflow: visible;
    margin-bottom: 50px;
  }
  .infografic__content-top {
    margin-bottom: 40px;
  }
  .infografic__content-img {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    margin-left: -55px;
    padding-right: 14px;
  }
  .infografic__img-3 {
    bottom: -50%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
  }
  .infografic__content-title {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .infografic__content-title::before {
    margin-bottom: 0;
  }
  .infografic__content-title p {
    font-size: 11px;
  }
  .infografic__item-title {
    font-size: 30px;
  }
  .infografic__item .gold-text {
    font-size: 25px;
  }
  .infografic__item span {
    font-size: 14px;
  }
  .integration__circle-title {
    font-size: 50px;
  }
  .integration__circle-item img {
    max-height: 184px;
  }
  .header__advantage-item {
    padding: 24px;
  }
  .header__title {
    font-size: 104px;
  }
  .developer-slogan {
    margin: 18px 0 8px;
  }
  .header__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    background-attachment: inherit;
  }
  .header__advantage {
    display: none;
  }
  .header__title {
    font-size: 64px;
  }
  .header__subtitle {
    font-size: 16px;
  }
  .header__subtitle {
    width: 151px;
  }
  .header__inner {
    padding: 193px 15px 92px;
  }
  .about {
    padding: 160px 0 20px;
  }
  .about-progress__list span {
    font-size: 18px;
  }
  .quote {
    background-attachment: inherit;
  }
  .quote__text {
    width: 114px;
  }
  .quote__word {
    display: inline-block;
    font-size: 33px;
    line-height: 1;
  }
  .quote__word:nth-child(1) {
    font-size: 27px;
  }
  .quote__word:nth-child(2) {
    font-size: 17px;
  }
  .quote__word:nth-child(3) {
    font-size: 11px;
  }
  .quote__word:nth-child(4) {
    font-size: 20px;
  }
  .quote__word:nth-child(5) {
    font-size: 17px;
  }
  .quote__word:nth-child(6) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .quote__word:nth-child(6) span {
    padding-left: 10px;
    font-size: 13px;
  }
  .infografic__title-small,
  .map__title-small {
    font-size: 20px;
  }
  .infografic__title-big,
  .map__title-big {
    font-size: 35px;
  }
  .infografic__content-text p {
    font-size: 11px;
    height: 100px;
    overflow: hidden;
  }
  .infografic__img-2 {
    top: 50%;
  }
  .infografic__img-3 {
    bottom: 0;
  }
  .infografic__item {
    padding-bottom: 10px;
    padding-right: 10px;
  }
  .infografic__item-title {
    margin-bottom: 10px;
  }
  .infografic__item--special {
    margin-left: 15px;
    padding-bottom: 0;
  }
  .infografic__item .gold-text {
    font-size: 20px;
    padding-right: 5px;
  }
  .integration__box {
    padding-top: 0;
  }
  .integration__img::after {
    content: none;
  }
  .integration__img .simpleParallax {
    padding: 35px;
  }
  .integration {
    padding-top: 40px;
  }
  .integration__img-last {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .integration__text {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    font-size: 13px;
  }
  .integration__img-last img {
    position: absolute;
    right: -300px;
    bottom: -200px;
    height: 400px;
    width: auto;
  }
  .integration__circle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
  }
  .integration__circle-items {
    width: 250px;
    margin: 0 auto;
  }
  .integration__circle-item img {
    max-height: 90px;
    max-width: 90px;
    height: auto;
    width: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .integration__circle-title {
    text-align: center;
    font-size: 40px;
  }
}

@media screen and (max-width: 576px) {
  .aim__item-text {
    margin-left: 0;
  }
  .aim__item-title {
    font-size: 38px;
  }
  .aim__item-descr {
    font-size: 14px;
  }
  .about__item-title {
    font-size: 14px;
  }
  .infografic__title-small,
  .map__title-small {
    font-size: 18px;
  }
  .infografic__title-big,
  .map__title-big {
    font-size: 24px;
  }
  .map__title {
    z-index: 2;
  }
  .infografic__content-img {
    -webkit-flex-basis: 30%;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
  }
  .integration__img-last {
    top: 40%;
  }
  .integration__img .simpleParallax {
    padding: 20px;
  }
  .infografic__content-title {
    font-size: 14px;
  }
  .infografic__content-title::before {
    content: none;
  }
  .infografic__img-2 {
    height: 100px;
    width: auto;
    padding: 0;
  }
  .infografic__item-title {
    font-size: 20px;
  }
  .infografic__content-bottom {
    width: 100%;
  }
  .infografic__item-box {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: self-end;
    -webkit-align-items: self-end;
        -ms-flex-align: self-end;
            align-items: self-end;
  }
  .infografic__item--special {
    margin-left: 0;
  }
  .infografic__item {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
  .infografic__item:nth-child(4) {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
  .integration__circle-item:nth-child(1) {
    left: -24px;
  }
  .integration__circle-item:nth-child(2) {
    left: -24px;
  }
  .integration__circle-item:nth-child(5) {
    right: -24px;
  }
  .integration__circle-item:nth-child(3) {
    bottom: -24px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}
