// Fonts
$font-family-base: "Bebas Neue", Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-barkentina: "Barkentina", Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-w-light: 300;
$font-w-normal: 400;
$font-w-bold: 700;
$font-s-base: 16px;
$font-s-normal: 24px;
// Colors
$color-base: #c8ac5c;
$color-white: #ffffff;
$color-text: #797979;
$color-text-secondary: #9a9a9a;
$bg-body: #363636;
$bg-base: #393939;
$shadow: 7px 7px 30px rgba(0, 0, 0, 0.32);
